.banner{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    margin: 0px 10px;
    padding: 0px 10px;
    background-color: antiquewhite;
    gap: 10px;
    border-radius: 20px;

}
.banner img{
    width: 600px;
    height: 550px;
    border-radius: 10px;
}
.banner p{
    font-size: 1.25em;
    font-style: oblique;
    padding: 20px 10px;
    border-radius: 20px;
}
.banner h2{
    font-size: 70px;
}
.banner h3{
    margin: 20px;
    font-size: 40px;
}
*{
    margin: 0px;
}
footer{
    background-color: rgba(248, 146, 63, 0.69);
    display: flex;
    justify-content: right;
    padding-right: 100px;
    height: 30px;
    padding-top: 10px;
}
footer input:hover{
    background-color: rgb(27, 93, 71);
}
footer input{
    background-color: rgb(100, 14, 14);
    color: whitesmoke;
}