form{
    display: block;
    height: 80px;
    width: 20%;
    background-color: rgb(114, 109, 119);
    text-align: center;
    padding-top: 20px;
    margin-left: 200px;
    /* box-shadow: 5px 5px 10px rgb(108, 158, 151); */
    box-shadow: 2px 2px 5px aqua, -2px -2px 5px teal;
    border-radius: 10px;
    border: 10px solid rgba(22, 97, 141, 0.267);
}
input[type="text"]{
    background-color: rgb(72, 73, 142);
    color: #000;
}
input[type="email"]{
    background-color: rgb(72, 73, 142);
    color: #000;
}
input[type="password"]{
    background-color: rgb(72, 73, 142);
    color: #000;
}
body{
    background-color: rgb(35, 16, 96);
    color: beige;
}